coverage==4.0.3
dj-database-url==0.4.1
dj-static==0.0.6
Django==1.9.5
django-ipware==1.1.5
django-summernote==0.8.5
django-toolbelt==0.0.1
gunicorn==19.4.5
mock==2.0.0
model-mommy==1.2.6
newrelic==2.62.0.47
pbr==1.9.1
Pillow==3.1.0
psycopg2==2.6.1
py==1.4.31
pyimgur==0.5.2
pystache==0.5.4
pytest==2.9.1
PyYAML==3.11
requests==2.9.1
selenium==2.53.1
six==1.10.0
static==1.1.1
static3==0.6.1
vcrpy==1.7.4
wrapt==1.10.8
