coverage==4.4.2
dj-database-url==0.4.2
dj-static==0.0.6
Django==1.11.7
django-ipware==1.1.6
django-summernote==0.8.8.2
django-toolbelt==0.0.1
gunicorn==19.7.1
mock==2.0.0
model-mommy==1.4.0
pbr==3.1.1
Pillow==4.3.0
psycopg2==2.7.3.2
py==1.4.34
pyimgur==0.6.0
pystache==0.5.4
pytest==3.2.3
pytz==2017.3
PyYAML==3.12
requests==2.18.4
selenium==3.7.0
six==1.11.0
static==1.1.1
static3==0.7.0
vcrpy==1.11.1
wrapt==1.10.11
