Django==1.7.1
Pillow==2.6.1
South==1.0
argparse==1.2.1
coverage==3.7.1
dj-database-url==0.3.0
dj-static==0.0.6
django-toolbelt==0.0.1
gunicorn==19.1.1
mock==1.0.1
model-mommy==1.2.2
newrelic==2.34.0.29
psycopg2==2.5.4
py==1.4.26
pyimgur==0.5.2
pystache==0.5.4
pytest==2.6.4
requests==2.4.3
selenium==2.44.0
six==1.8.0
static==1.1.1
static3==0.5.1
wsgiref==0.1.2
