{% load staticfiles %}
{% load custom_tags %}
<html>
<head>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    {% autoescape off %}{% ganalytics %}{% endautoescape %}
</head>
<body background="{% static 'background.gif' %}">

<div>
    <table width=1200 border=2>
        <tr>
            <td><h3><a href="/">ABREJOGO</a></h3></td>
            <td><h3><a href="/list/">VER ESCENARIOS</a></h3></td>
            <td><h3><a href="/sobre/">SOBRE</a></h3></td>
            <td></td>
        </tr>
        <tr>
            <td colspan=3 height=900 width=800 valign=top>
    {% block corpo %}
    {% endblock %}
            </td>
            <td>{% autoescape off %}{% gadsense %}{% endautoescape %}</td>
        </tr>
        <tr>
            <td colspan=3>
                <p style='background-color:#ffffff'><font size=4><b>
                    <a href='http://twitter.com/ggzes'>@ggzes</a> -
                    <a href='https://www.facebook.com/pages/ESCENARIOS/560837047322996?fref=ts'>ESCENARIOS no Facebook</a> -
                    <a href='https://github.com/gabrielmarcondes/escenario'>Código no GitHub</a>
                    </b></font>
                </p>
            </td>
            <td></td>
        </tr>
    </table>
</div>

{% block scripts %}
{% endblock %}
</body>
</html>
