{% if created %}
<h1>FOOORTE GOMBA!!!</h1>
{% endif %}

<h2>Fazhe Escenario</h2>

<div>
    <form method="post" action="" enctype="multipart/form-data" class="infotabs accfrm">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">TIRÓ! PELIGRO</button>
    </form>
</div>


<h2>Inpirados Recentes</h2>
{% load staticfiles %}
{% for r in recent %}
    <br><a href="{% static r.img_id %}"><img width=300 src="{% static r.img_id %}"  alt="{{ r.esc.titulo  }}" ></a>
{% endfor %}
