{% extends 'base.html' %}


{% block corpo %}
{% if created %}
<h1><blink>FOOORTE GOMBA!!!</blink></h1>
<br><a href="{{ created.img_id }}"><img width=300 src="{{ created.img_id }}"  alt="{{ created.esc.titulo  }}" ></a>
{% endif %}

<h1><blink>Fazhe Escenario</blink></h1>

<div>
    <form method="post" action="" enctype="multipart/form-data" class="infotabs accfrm">
        {% csrf_token %}
        <input type="checkbox" name="autonumber" value="AutoNumber">Nro Automatico<br>
        {{ form.as_p }}
        <button type="submit">TIRÓ! PELIGRO</button>
    </form>
</div>


<h2>Inpirados Recentes</h2>
{% for r in recent %}
    <br><a href="{{ r.img_id }}"><img width=300 src="{{ r.img_id }}"  alt="{{ r.esc.titulo  }}" ></a>
{% endfor %}
{% endblock %}

