{% extends 'base.html' %}


{% block corpo %}

<h2>FALTA!! OE PENALTI!!</h2>
<p>
<a id="show-voted" href="#">Mais Votadas</a>
<a id="show-recent" href="#">Mais Recentes</a>
</p>

<div id="escenario-list">
</div>

<div class="pagination">
    <span class="step-links">
        <a href="#" id="show-previous">Anterior</a>
        Página <span id="current-page"></span> of <span id="total-pages"></span>
        <a href="#" id="show-next">Próxima</a>
    </span>
</div>
<div style="display: none">
    <form id="form-vote" action="" method="post" class="infotabs accfrm" enctype="multipart/form-data">
        {% csrf_token %}
    </form>
</div>


{% endblock %}

{% block scripts %}
<script>
    function vote_callback(e) {
        var escenario_id = e.target.id;
        var target_span = "#span" + escenario_id;
        var data = $("#form-vote").serialize();
        $.ajax({
            url: "/v2/escenarios/" + escenario_id + "/like/",
            method: 'POST',
            data: data,
            success: function (result) {
                $(target_span).text(result.new_count);
            }
        });
    }
</script>
<script>
    var listManager = new manager.ListManager();
    var votedShowcase = new manager.VotedShowcase();
    var ordering = '-votos';
    var current_page = 1;

    var show = function () {
        var data = listManager.getEscenarios(ordering, current_page, false);
        votedShowcase.showVoted(data.results, "#escenario-list");
        $(".vote-button").click(function (e) {
            vote_callback(e);
        });
        data.next !== null ? $("#show-next").show(): $("#show-next").hide();
        data.previous !== null ? $("#show-previous").show(): $("#show-previous").hide();
        $("#current-page").text(data.current);
        $("#total-pages").text(data.totalPages);
    };

    show();

    $("#show-voted").click(function () {
        ordering = '-votos';
        current_page = 1;
        show();
    });

    $("#show-recent").click(function () {
        ordering = '-criado_em';
        current_page = 1;
        show();
    });

    $("#show-previous").click(function () {
        current_page -= 1;
        show();
    });

    $("#show-next").click(function () {
        current_page += 1;
        show();
    });

</script>
{% endblock %}
