{% extends 'base.html' %}


{% block corpo %}

<h2>FALTA!! OE PENALTI!!</h2>
<p>
<a id="show-voted" href="#">Mais Votadas</a>
<a id="show-recent" href="#">Mais Recentes</a>
</p>

<div id="escenario-list">
</div>

<div class="pagination">
    <span class="step-links">
        {% if escs.has_previous %}
            <a href="?page={{ escs.previous_page_number }}">Anterior</a>
        {% endif %}
        <span class="current">
            Página {{ escs.number }} of {{ escs.paginator.num_pages }}
        </span>
        {% if escs.has_next %}
            <a href="?page={{ escs.next_page_number }}">Próxima</a>
        {% endif %}
    </span>
</div>


{% endblock %}

{% block scripts %}
<script>
    function vote_callback(escenario_id){
        var target_id = parseInt(escenario_id);
        var target_span = "#span" + target_id;
        result = $.post(
            "/v2/escenarios/" + target_id + "/like/",
            function(result) {
                $(target_span).text(result.new_count);
            },
            "json")
    }
</script>
<script>
    var listManager = new manager.ListManager();
    var votedShowcase = new manager.VotedShowcase();

    var showBy = function (ordering) {
        var data = listManager.getEscenarios(ordering, false);
        votedShowcase.showVoted(data, "#escenario-list");
        $(".vote-button").click(function (e) {
            vote_callback(e.target.id);
        });
    };

    showBy('-votos');

    $("#show-voted").click(function () {
        showBy('-votos');
    });

    $("#show-recent").click(function () {
        showBy('-criado_em');
    });

</script>
{% endblock %}
