{% extends 'base.html' %}


{% block corpo %}

<h2>FALTA!! OE PENALTI!!</h2>

{% for pair in zipped %}
    <br>
    {% for esc in pair %}
        <a href="{{ esc.img_id }}"><img width=300 src="{{ esc.img_id }}"  alt="{{ esc.esc.titulo  }}" ></a>
        <input type="button" onclick="Dajaxice.generator.vote_escimg(vote_callback, {'id': {{ esc.id }} })" value="+1"/>
    {% endfor %}
    
{% endfor %}

<div class="pagination">
    <span class="step-links">
        {% if escs.has_previous %}
            <a href="?page={{ escs.previous_page_number }}">Anterior</a>
        {% endif %}
        <span class="current">
            Página {{ escs.number }} of {{ escs.paginator.num_pages }}
        </span>
        {% if escs.has_next %}
            <a href="?page={{ escs.next_page_number }}">Próxima</a>
        {% endif %}
    </span>
</div>


{% endblock %}

{% block scripts %}
<script>
    function vote_callback(data){
        alert(data.message);
    }
</script>
{% endblock %}
