{% extends 'base.html' %}
{% load staticfiles %}


{% block corpo %}

<h2>¿QUIEN É ESSE HOME?</h2>

<div class="login">

    {%if form.errors %}
        {{ form.non_field_errors }}
    {% endif %}

    <form action="" method="post">
        {% csrf_token %}
        <table>
            <tr>
                <td>{{ form.username.label_tag }}</td>
                <td>{{ form.username }}</td>
            </tr>
            <tr>
                <td>{{ form.password.label_tag }}</td>
                <td>{{ form.password }}</td>
            </tr>
        </table>
        <button type="submit">ME DEJEN ENTRAR</button>
    </form>

</div>


{% endblock %}

